
body {
  margin: 0 auto;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.inner{
    width: 1140px;
    margin: 0 auto;
}

/* top */

.howToButton {

}
