@charset "UTF-8";

/* common */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.wrapper img {
    position: absolute;
    display: block;
    width: 260px;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


/* top */








/* how to play */
